body {
    text-align: center;
    font-family: monospace;
    background-image: url(imagescss/background1.5.png);
    background-size: cover;
    max-width: 1920px;
    max-height: 1080px;
    color: whitesmoke;
    text-shadow: 2px 2px black;
    font-size: 30px;
}

p1 {
    margin-right: 750px;
}

p2 {
    margin-top: 700px;
    margin-right: 300px;
}

p3 {
    margin-top: 900px;
    margin-left: 400px;
}

p4 {
    margin-top: 300px;
    margin-left: 500px;
}