img {
    position: absolute;
    left: 50%;
    margin: 0px -150px;
    z-index: -1;
    border-radius: 4px;
    border: 3px solid #ffbf00;
}

body {
    font-family: 'Lato';
    background-color: #111109;
}

nav {
    position: absolute;
    margin-top: 350px;
    margin-left: 250px;
}

nav a {
    border: 1px solid black;    
    padding: 5px;
    text-decoration: none;
    border-radius: 3px;
    font-size: 20px;
    color: black;
    background-color: #ffbf00;
}

nav1 {
    border: 1px solid black;    
    text-decoration: none;
    border-radius: 3px;
    font-size: 20px;
    color: black;
    background-color: #ffbf00;
}

nav1 a{
    border: 1px solid black;    
    padding: 5px;
    text-decoration: none;
    border-radius: 3px;
    font-size: 20px;
    color: black;
}