title {
    font-size: 70px;
    font-family: monospace;
}

header2 {
    text-align: center;
    color: black;
    padding: 15px;
    font-size: 22px;
    text-shadow: 2px 2px gray;
}

li {
    display: inline;
    padding: 0px 10px 0px 10px;
}

ol {
    padding: 8px 4px 8px 4px;
    position: relative;
    margin-top: 470px;
    margin-right: 90px;
}

body {
    background-image: url(imagescss/background1.8.jpg);
    background-size: cover;
    max-width: 1920px;
    max-height: 1080px;
    text-align: center;
    padding: 20px 5px 20px 5px;
    font-family : monospace;
}

@media (max-width: 500px) {
    li {
        display: block;
        padding: 5px;
    }
}

img {
    margin: auto;
    border: 6px solid white;
    border-radius: 10px;
    float: left;
    position: relative;
    margin-top: 375px;
    margin-left: 180px;
}

