title {
    font-size: 70px;
    font-family: 'Times New Roman';
}

header {
    font-size: 60px;
    color: whitesmoke;
    text-shadow: 2px 2px black;
}

header2 {
    text-align: center;
    color: white;
    padding: 15px;
    font-size: 30px;
}
li {
    display: inline;
    padding: 0px 10px 0px 10px;
}

ol {
    padding: 10px;
    background: black;
}


p1 {
    font-size: 20px;
    font-family : 'Times New Roman';
    color: black;
    text-align: left !important;
}

body {
    background-image: url(imagescss/background1.1.jpg);
    text-align: center;
    padding: 20px 5px 20px 5px;
    font-family : 'Times New Roman';
}

img {
    margin: 15px 0px 15px 0px;
    border: 6px solid white;
    border-radius: 10px;
}

